In [1]:
tup1=('rama',1,1997)
print(tup1)

('rama', 1, 1997)

In [3]:
tup=(3,)
print(tup)
tup=(3)
print(tup)

(3,)
3

In [5]:
tup=(3)
print(type(tup))
tup=(3,)
print(type(tup))

<class 'int'>
<class 'tuple'>

In [6]:
tup=()
print(tup)

()

In [7]:
tup=tuple([1,2,3,4])
print(tup)

(1, 2, 3, 4)

In [18]:
t=(1,2,3,4)
t=t+(5,)
t+=(10,)
t+(11,)#will not add anything in the tuple
print(t)
print(t[0])

(1, 2, 3, 4, 5, 10)
1

In [12]:
## Write a python program to input ‘n’ employee salaries and find the minimum and maximum salary amongst ‘n’ employees.
n = int(input("Enter the number of employees: "))
salaries = []
for i in range(n):
    salary = float(input(f"Enter salary of employee {i + 1}: "))
    salaries.append(salary)
min_salary = min(salaries)
max_salary = max(salaries)
print(f"\nMinimum salary: {min_salary}")
print(f"Maximum salary: {max_salary}")

Enter the number of employees: 3
Enter salary of employee 1: 4500
Enter salary of employee 2: 5600
Enter salary of employee 3: 6500

Minimum salary: 4500.0
Maximum salary: 6500.0

In [15]:
n = int(input("Enter the number of employees: "))
salaries = []
for i in range(n):
    salary = input(f"Enter salary of employee : ")
    salaries.append(salary)
min_salary = min(salaries)
max_salary = max(salaries)
print(f"\nMinimum salary: {min_salary}")
print(f"Maximum salary: {max_salary}")

Enter the number of employees: 2
Enter salary of employee: 2
Enter salary of employee: 100

Minimum salary: 100
Maximum salary: 2

tup=(1,2,3)*3

In [21]:
tup=(1,2,3)*3
print(tup)
tup=('1,2,3',)*3
print(tup)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
('1,2,3', '1,2,3', '1,2,3')

In [26]:
tup1=(1,2,2,4,5,3,7)
seq=(8,9)
print(len(tup1))#length of tuple
print(tup1,tup2)
print(max(tup1))#max
print(min(tup1))#min
print(tuple(seq))

7
(1, 2, 2, 4, 5, 3, 7) (8, 9)
7
1
(8, 9)

In [27]:
t=tuple()
t=t+('PYTHON',)
print(t)
print(len(t))
t1=(10,20,30)
t2=t1+t
print(len(t2))
t3=t1*2
print(t3)

('PYTHON',)
1
4
(10, 20, 30, 10, 20, 30)

In [29]:
# Write a program to input ‘n’ employee numbers and names and store them in a dictionary. Display dictionaries employee’s names(key) and numbers(values) together.
n = int(input("Enter the number of employees: "))
emp_dict = {}
for i in range(n):
    emp_name = input(f"\nEnter name of employee {i + 1}: ")
    emp_number = input(f"Enter employee number of {emp_name}: ")
    emp_dict[emp_name] = emp_number
print("\nEmployee Name and Number:")
for emp_name, emp_number in emp_dict.items():
    print(f"{emp_name} : {emp_number}")

Enter the number of employees: 1

Enter name of employee 1: raj
Enter employee number of raj: 15

Employee Name and Number:
raj : 15